## Data Types in Python

The following data types can be used in base python:
* **boolean**
* **integer**
* **float**
* **string**
* **list**
* **None**
* complex
* object
* set
* dictionary

We will only focus on the **bolded** ones

Let's connect these data types to the the variable types we learned from the [Variable Types video](https://www.coursera.org/learn/understanding-visualization-data/lecture/iDodZ/variable-types).

###  Numerical or Quantitative (taking the mean makes sense)
* Discrete
    * Integer (int) #Stored exactly, i.e. a whole number
* Continuous
    * Float (float) #Stored similarly to scientific notation. Allows for decimal places but loses precision.

In [2]:
import math

In [7]:
#the type function tells us with what data type we are working
type(4)

int

In [4]:
type(0)

int

In [5]:
type(-3)

int

In [6]:
#try taking the mean
numbers = [2, 3, 4, 5]
print(sum(numbers)/len(numbers))
type(sum(numbers)/len(numbers)) #In Python 3 returns float, but in Python 2 would return int

3.5

float

**Floats**

In [8]:
3/5

0.6

In [9]:
6*10**(-1)

0.6000000000000001

In [10]:
type(3/5)

float

In [11]:
type(math.pi)

float

In [12]:
type(4.0)

float

In [13]:
# Try taking the mean
numbers = [math.pi, 3/5, 4.1]
type(sum(numbers)/len(numbers))

float

### Categorical or Qualitative
* Nominal
    * Boolean (bool)
    * String (str)
    * None (NoneType)
* Ordinal
    * Only defined by how you use the data
    * Often important when creating visuals
    * Lists can hold ordinal information because they have indices

**Boolean**

Booleans essentially are stored as True or False. I.e. below we see that True is a reservered word in python.

In [20]:
# Boolean
type(True)

bool

We also can make our own booleans:

In [23]:
type(bool('yes'))

bool

We can also use booleans in if statements, i.e. If the below is true, print something.

In [18]:
# Boolean
if 4 < 5:
    print("Yes!")

Yes!

In [27]:
myList = [True, 6<5, 1==3, None is None]
for element in myList:
    print(type(element))

<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

For booleans, True equals to the value of 1 and False to the value of 0.
This is why we can do math with booleans. Below we get a value of 0.5, since half of the statements above are true.

In [28]:
print(sum(myList)/len(myList))
type(sum(myList)/len(myList))

0.5

float

**String**

In [29]:
type("This sentence makes sense")

str

In [30]:
type("Makes sentense this sense")

str

In [31]:
type("math.pi")

str

In [33]:
strList = ['dog', 'koala', 'goose']

#the code below gives an error because we can not calculate the mean on a string
#sum(strList)/len(strList)

**Nonetype**

In [34]:
# None
type(None)

NoneType

In [35]:
# None
x = None
type(x)

NoneType

In [37]:
noneList = [None]*5

##the code below gives an error because we can not calculate the mean on a NoneType
#sum(nonList)/len(nonList)

**Lists**

A list can hold many types and can also be used to store ordinal information.

In [39]:
# List
myList = [1, 1.1, "This is a sentence", None]

for element in myList:
    print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'NoneType'>

In [41]:
#this would give an error because the list contains categorical data
#sum(myList)/len(myList)

In [42]:
# List
myList = [1, 2, 3]

for element in myList:
    print(type(element))

sum(myList)/len(myList) # note that this outputs a float

<class 'int'>
<class 'int'>
<class 'int'>

2.0

While we would see the order in the list below, by default Python does not see this as an ordinal category:

In [44]:
myList = ['third', 'first', 'medium', 'small', 'large']

#use an index to access data
myList[0]

'third'

In [45]:
myList.sort()
myList

['first', 'large', 'medium', 'small', 'third']

There are more datatypes available when using different libraries such as Pandas and Numpy, which we will introduce to you as we use them.